body{
	 padding:0;
    margin: 0;
}
.words-wrapper {
    display: none;
    width:0%;
}

main {
    width: 100%;
}

.content {
    width: 100%;
}

.marvel {
    width: 100px;
    height: 40px;
}

.nav-div a {
    font-size: 8px;
}

.nav-div {
    width: 40px;
    height: 20px;
    padding-top: 5px;
}

.nav {
    width: 200px;
    margin: 0 auto;
}

.game-content {
    width: 270px;
    margin: 0 auto;
}
.spider-men-game{
    padding:0;
    height:100px;
}
.game2 {
    width: 90px;
    height: 30px;
    margin-left: 50px;
}

.game-h3 {
    font-size: 10px;
}

.game {
    width: 70px;
    height: 90px;
}

.game-column {
    margin-right: 20px;
    margin-top: 10px;
}

.films {
    display: none;
}

.logo_footer {
    width: 100px;
    height: 40px;

}
.footer_a_y {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.footer_a {
    width: 20px;
    height: 20px;
}

footer h3 {
    font-size: 10px;
}

.footer_column {
    margin-left: 15px;
}

.posters-content{
	display:flex;
	flex-direction:column;
}
.posters{
	height:600px;
	width:100%;
    padding-bottom:5px;
}
.posters-h1{
    font-size:25px;
    margin-top:10px;
}
.posters-info{
	display:flex;
	flex-direction:column;
}
.posters-info img{
	width:70px;
	height:100px;
    margin-left:15px;
}
.posters-info img:hover{
	width:80px;
	height:110px;
}
.posters-exact{
	height:100px;
}
.heroes-row{
	display:flex;
	flex-direction:column;
	width:240px;
}
.posters-h1{
    margin-left:0px;
}
